@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }

  [href^=tel] {
    pointer-events: none;
  }

  .no-scroll {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-overflow-scrolling: auto;
  }

  #header.--fix h1 {
    opacity: 1;
    visibility: visible;
  }
  #header.--fix .logo img {
    width: 300px;
    height: auto;
  }

  .menu-list > li:hover > a,
.menu-list > li:hover > span {
    color: #fa8c00;
  }
  .menu-list > li > a,
.menu-list > li > span {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
  }

  .dropdown:hover > .sub-menu {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  .dropdown > span {
    pointer-events: none;
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    transition: all 0.5s ease;
    transform: translateX(100%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    background-color: #00148c;
    color: #fff;
    font-size: 16px;
  }
  .sub-menu a:hover,
.sub-menu span:hover {
    background-color: #fa8c00;
  }
  .sub-menu li {
    border-bottom: 1px solid #fff;
  }
  .sub-menu li:last-child {
    border-bottom: none;
  }
  .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  .footer-bottom .box-re {
    padding: 36px 39px 31px;
  }
  .footer-bottom .box-re .re-sm {
    font-size: 20px;
  }
  .footer-bottom .box-re .re-bg {
    font-size: 37px;
  }
  .footer-bottom .box-re .re-title {
    margin-bottom: 12px;
  }
  .footer-bottom .box-re .re-btn {
    padding: 0 10px 4px;
    margin-bottom: 17px;
  }
  .footer-bottom .box-re .re-bn2 {
    margin-top: -4px;
  }
  .footer-bottom .box-re .re-bn3 {
    font-size: 15px;
  }

  .about-solar .sol-itm2 {
    padding: 53px 30px 40px;
  }
  .about-solar .sol-itm2 .abs-img {
    transform: translateX(9px);
    margin-bottom: 51px;
  }
  .about-solar .sol-itm4.abs-item {
    padding: 44px 35px 40px 40px;
  }
  .about-solar .sol-itm4 .abs-tt {
    letter-spacing: -1.8px;
    margin: 4px 0 30px;
  }
  .about-solar .sol-itm4 .abs-dsc {
    letter-spacing: 1.7px;
  }
}
/* end screen-min:751px */
@media screen and (min-width: 751px) and (max-width: 1919px) {
  #header {
    height: 80px;
  }
  #header .logo {
    margin-top: 35px;
  }
  #header .logo img {
    width: 260px;
    height: auto;
  }
  #header h1 {
    top: 10px;
  }
  #header.--fix .logo img {
    width: 260px;
  }

  .header-wrapper {
    padding-left: 25px;
  }

  .header-phone {
    width: 220px;
    padding-right: 18px;
  }
  .header-phone .hphone-number {
    font-size: 17px;
    letter-spacing: 0;
  }
  .header-phone .hphone-time {
    font-size: 11px;
    letter-spacing: 0;
  }

  .header-contact {
    width: 200px;
  }
  .header-contact::before {
    width: 50px;
    height: 50px;
    transform: translateX(3px);
    margin-right: 7px;
  }
  .header-contact .hcontact-jp {
    font-size: 16px;
  }
  .header-contact .hcontact-en {
    font-size: 12px;
  }

  .header-menu {
    padding: 0 5px 0 10px;
  }

  .menu-list {
    column-gap: 20px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1439px) {
  .header-wrapper {
    padding-left: 15px;
  }

  .menu-list li,
.menu-list span {
    font-size: 16px;
  }

  #header .logo img {
    width: 220px;
  }
  #header.--fix .logo img {
    width: 220px;
  }
}
/* end screen-min:751px && screen-max:1439 */
@media screen and (max-width: 750px) {
  body {
    font-size: 14px;
  }

  [href^=tel]:hover {
    color: unset !important;
  }

  #wrapper {
    min-width: unset !important;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none !important;
  }

  .open-nav .header-menu {
    top: 60px;
  }

  .hamburger-btn {
    display: block;
  }

  .btn {
    font-size: 16px;
    min-height: 50px;
  }
  .btn::before {
    width: 10px;
    height: 10px;
  }

  #header {
    height: 60px;
    background-color: #fff;
  }
  #header .logo {
    margin: 0;
  }
  #header .logo a {
    height: 100%;
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 230px;
    height: auto;
    display: block;
  }
  #header .box-youtube {
    margin: 0 auto 30px;
  }

  .header-wrapper {
    padding: 0 15px;
    border-bottom: 2px solid #fa8c00;
  }

  .header-menu {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: all 0.3s ease;
    z-index: 99;
    background-color: #00148c;
    display: block;
    padding: 0 15px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 60px);
  }

  .menu-list {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .menu-list > li > a,
.menu-list > li > span {
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 15px 20px;
    width: 100%;
    display: block;
    position: relative;
  }
  .menu-list > li > span {
    padding-right: 40px;
  }

  .dropdown .open::before {
    transform: scale(-1);
  }
  .dropdown span::before {
    content: "";
    border-top: solid 8px #f4a93b;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
    transition: all 0.3s;
  }

  .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    padding: 7px 20px;
  }
  .sub-menu a,
.sub-menu span {
    padding: 5px 5px;
    position: relative;
  }

  .header-act {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .header-phone {
    width: 100%;
    clip-path: none;
    background-color: #fff;
    color: #00148c;
    margin: 0 0 15px;
    justify-content: center;
    padding: 15px 10px;
  }
  .header-phone::before {
    background-image: url("../images/svg/ic-phone-b.svg");
  }

  .header-contact {
    width: 100%;
    clip-path: none;
    padding: 15px 10px;
  }

  #footer .copyright {
    padding: 30px 0;
  }

  .footer-top {
    padding: 32px 0 40px;
  }
  .footer-top .ft-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .footer-top .ft-btn {
    justify-content: center;
  }
  .footer-top .ft-btn li {
    width: 400px;
    padding: 15px 20px;
    min-height: 170px;
  }
  .footer-top .ft-phone {
    margin-bottom: 20px;
  }
  .footer-top .ft-ic {
    margin-top: 4px;
  }
  .footer-top .ft-tt {
    font-size: 26px;
  }
  .footer-top .ft-desc {
    font-size: 16px;
  }
  .footer-top .ft-number {
    font-size: 30px;
  }

  .footer-mid {
    display: none;
  }

  .footer-bottom {
    padding: 40px 0 0;
  }
  .footer-bottom .fb-wrapper {
    flex-wrap: wrap;
  }
  .footer-bottom .fb-col {
    width: 100%;
  }
  .footer-bottom .fb-re {
    width: 100%;
    margin-top: 30px;
  }
  .footer-bottom .fb-df {
    flex-wrap: wrap;
  }
  .footer-bottom .fb-title {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  .footer-bottom .fb-item {
    width: 100%;
  }
  .footer-bottom .fb-btn {
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
  }
  .footer-bottom .fb-itm-lt {
    margin-bottom: 30px;
  }
  .footer-bottom .fb-itm-rt {
    padding-left: 0;
  }
  .footer-bottom .fb-list {
    font-size: 14px;
  }
  .footer-bottom .fb-list > li {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .footer-bottom .fb-list .fb-tn::before {
    top: 3px;
  }
  .footer-bottom .fb-list .fb-tg::before {
    top: 5px;
  }

  .index-visual {
    height: 1000px;
  }

  .strengths {
    padding: 50px 0;
  }
  .strengths .streng-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .strengths .streng-list {
    justify-content: center;
    margin: -15px;
  }
  .strengths .streng-list li {
    margin: 15px;
  }
  .strengths .streng-img {
    margin-bottom: 20px;
  }
  .strengths .streng-img img {
    height: auto;
  }
  .strengths .streng-tt {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .strengths .streng-desc {
    font-size: 14px;
  }
  .strengths .streng-btn {
    font-size: 16px;
    min-height: 50px;
    margin-top: 30px;
  }
  .strengths .streng-btn::before {
    width: 10px;
    height: 10px;
  }

  .about-solar {
    padding: 50px 0;
  }
  .about-solar .abs-head {
    margin-bottom: 30px;
  }
  .about-solar .abs-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .about-solar .abs-desc {
    font-size: 14px;
  }
  .about-solar .abs-list {
    margin: -15px;
  }
  .about-solar .abs-list li {
    margin: 15px;
    max-width: 100%;
    width: calc(100% - 30px) !important;
  }
  .about-solar .abs-item {
    padding: 40px 30px;
  }
  .about-solar .abs-img {
    margin-bottom: 30px;
  }
  .about-solar .abs-tt {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .about-solar .abs-dsc {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .about-solar .abs-full .abs-item {
    padding: 40px 30px;
  }
  .about-solar .abs-full .abs-img {
    float: none;
  }
  .about-solar .abs-full .abs-tt {
    text-align: center;
    margin: 0 0 20px;
  }
  .about-solar .btn {
    margin: 0 auto;
  }
}
/* end screen-max:750px */
/* end screen-max:640px */
/* end screen-max:560px */
/* end screen-max:520px */
/* end screen-max:475px */
@media screen and (max-width: 425px) {
  .header-phone .hphone-number {
    font-size: 24px;
  }
  .header-phone .hphone-time {
    font-size: 15px;
    letter-spacing: 0;
  }

  #header .box-youtube {
    width: 280px;
    height: 280px;
  }
  #header .box-youtube .ytb-tt {
    font-size: 18px;
  }
  #header .box-youtube .ytb-tt2 {
    font-size: 24px;
  }
  #header .box-youtube .ytb-img {
    width: 80px;
    height: 56px;
  }

  .footer-top .ft-title {
    margin-bottom: 20px;
  }
  .footer-top .ft-btn li {
    padding: 15px 10px;
    min-height: 150px;
  }
  .footer-top .ft-ic {
    width: 70px;
    height: 70px;
    margin-top: 3px;
  }
  .footer-top .ft-itm {
    width: calc(100% - 70px);
  }
  .footer-top .ft-tt {
    font-size: 22px;
  }
  .footer-top .ft-desc {
    font-size: 14px;
  }
  .footer-top .ft-number {
    font-size: 26px;
    margin-bottom: 0;
  }
  .footer-top .ft-email .ft-tt {
    margin-bottom: 8px;
  }
  .footer-top .ft-eml {
    height: 38px;
  }

  .about-solar .abs-item {
    padding: 20px;
  }
  .about-solar .abs-full .abs-item {
    padding: 20px;
  }
}
/* end screen-max:425px */
/* end screen-max:375px */
@media screen and (max-width: 320px) {
  #header .logo img {
    width: 200px;
  }

  .box-re {
    padding: 20px 15px;
  }
  .box-re .re-btn {
    margin-bottom: 15px;
  }

  .footer-top .ft-btn li {
    min-height: 135px;
  }
  .footer-top .ft-ic {
    width: 70px;
    height: 70px;
    margin-top: 3px;
  }
  .footer-top .ft-itm {
    width: calc(100% - 70px);
  }
  .footer-top .ft-tt {
    font-size: 20px;
  }
  .footer-top .ft-desc,
.footer-top .ft-time {
    font-size: 12px;
  }
  .footer-top .ft-number {
    font-size: 22px;
  }
}
/* end screen-max:320px */
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=responsive.css.map */
