.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    max-width: 100%;
    min-height: 60px;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 0;
    &:hover {
        color: $main-cl;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
        background-color: #fff;

        &::before {
            border-color: $main-cl;
            right: 18px;
        }

        &::after {
            opacity: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 22px;
        width: 14px;
        height: 14px;
        border: 0px solid #fff;
        border-width: 0 2px 2px 0;
        transform: translateY(-50%) rotate(-45deg);
        transition: all 0.3s ease;
    }

    &::after {
        content: "";
        @include pos-full;
        background-image: linear-gradient(45deg, #ffb100 10%, #ff9300 90%);
        transition: all 0.3s ease;
        z-index: -1;
    }
}


.hamburger-btn {
    width: 50px;
    height: 60px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 99;
    text-align: center;
    &::before{
        content: 'menu';
        color: $main-cl2;
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-top: 2px;
    }

    .bar {
        width: 36px;
        height: 3px;
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $main-cl2;
        border-radius: 2px;
        transition: all 0.3s ease;

        &::before,
        &::after {
            content: "";
            width: 36px;
            height: 3px;
            position: absolute;
            left: 0;
            border-radius: 2px;
            background-color: $main-cl2;
            transition: all 0.3s ease;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    &.--active {
        .bar {
            background-color: transparent;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: $main-cl;
    cursor: pointer;
    z-index: 98;
    overflow: hidden;
    transition: all .3s ease;
    @include hidden();

    &.--active {
        @include visible();
    }

    &::before{
        content: "";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 20px;
        border-color: transparent transparent #fff transparent;
    }

    &:hover {
        opacity: .8;
    }
}
